<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
				<header>
					<p>
						<img src="../images/grlogo-white.png" width="217" height="41" alt="Grlogo White" class="center-block">
					</p>
				</header>
			<h4 class="text-center brand-white">Finding <b>YOU</b> Specialist to see in person</h4>
			<div class="wrapper">
		<section>
			<h4>Tell us a little bit about yourself</h4>
			<div class="media">
						  <div class="media-left">
						    <a href="#">
						      <img class="media-object" src="../images/icons/icon-user.png" alt="...">
						    </a>
						  </div>
						  <div class="media-body">
						    <b><%= firstName %> <%= lastName %></b>
								<br />
								<%= email %>
								<br />
								<%= company %>
						  </div>
						</div><!-- /media -->
			</section>
				<form>
					<h4>Gender</h4>
					<select class="form-control input-lg">
					  <option>Select your gender...</option>
					  <option>Male</option>
					  <option>Female</option>
					</select>
					<h4>Mailing Address</h4>
				</form>
				<hr>
				<p>
					<a href="visit-2" type="button" class="btn btn-primary btn-block btn-lg">Continue</a>
				</p>
				<p class="small text-right">
					Next Step: Tell us about you
				</p>
			</div><!-- /wrapper -->
		</div>
	</div>
</div>