	<div class="row">
	
		<div class="col-md-4">
			<h3>Grand Rounds Team</h3>
			
			<div class="media">
			  <div class="media-left">
			    <a href="#"><a href="#"><img class="media-object avatar" src="http://www.gravatar.com/avatar/f3f886df90b74d3f82f668f829a9e2e9.png?s=64" width="64" alt="Icon User Patient">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">You</h4>
			   <%= firstName %>
			  </div>
			</div>
			<div class="media">
			  <div class="media-left">
			    <a href="#"><img class="media-object" src="../assets/icon-user-cc.png" width="64" alt="Icon User Patient">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Care Coordinator</h4>
			   Erin Moore
			  </div>
			</div>
			<div class="media">
			  <div class="media-left">
			    <a href="#"><img src="../images/GR_Leadership__0007_8.-Shaundra-Eichstadt.jpg" width="64" class="media-object avatar">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Staff Physician</h4>
			   Dr. Shaundra Eichstadt
			  </div>
			</div>
			<div class="media">
			  <div class="media-left">
			    <a href="#"><img src="../images/wang_jeffery.jpg" width="64" class="media-object avatar">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Expert Physician</h4>
			   Dr. Jeffery Wang
			  </div>
			</div>
			
			
			<div>
				<hr>
				<a href="#"> <i class="fa fa-plus-circle"></i> ADD A TEAM MEMBER</a>
				<br>
				<span class="small">
					Invite a family member or caregiver to your team, but keep in mind that they will have access to your case history, medical records, and team messages.
				</span>
			</div>
			
		</div>
		
		<div class="col-md-7 col-md-offset-1">
			<h3>Team Messages</h3>
			<div class="row">
				<div class="col-md-4 col-md-offset-8">
					<button type="button" class="btn btn-info">New Message</button>
				</div>
			</div>
	
	<div class="media">
	  <div class="media-left">
	    <a href="#"><img class="media-object avatar" src="../images/GR_Leadership__0007_8.-Shaundra-Eichstadt.jpg" width="32">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">We found an Expert for you!</h4>
			<span class="small">Monday March 23rd, 2015</span> <span class="label label-danger">NEW</span> 
	   	<p>Hi <%= firstName %>, I just wanted to send you a note and let you know that we located the perfect expert for your second opinion.</p>
			<p>Dr. <%= drLName %> is highly respected and has done several opinions for us alread. I think you'll be very happy with him.</p>
			<a href="#"><i class="fa fa-reply"></i> Reply</a>
	  </div>
	</div>
	
			<div class="media">
			  <div class="media-left">
			    <a href="#"><img class="media-object" src="../assets/icon-user-cc.png" width="32" alt="Icon User Patient">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Welcome to Grand Rounds!</h4>
					<span class="small">Monday March 23rd, 2015</span> 
			   	<p>Hi <%= firstName %>, I'm Erin the Care Coordinator for your visit and I'm excited to help you through the visit process.</p>
					Here's what you can to expect to happen next:
					<ul>
						<li>We'll start collecting your medical records as soon as you <a href="#">sign your medical release form</a>.</li>
						<li>One of our Staff Physicians will join your case</li>
						<li>Within the next 24-48 hours, we'll locate a doctor in your area and send you a message</li>
						<li>After you select your specialist we'll start scheduling appointment times</li>
					</ul>
					<a href="#"><i class="fa fa-reply"></i> Reply</a>
			  </div>
			</div>
			
		</div>
	
	</div>