<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>Dashboard - One Visit, One Opinion</h1>
      		<h4>Cases</h4>
      			<p>Visit 1</p>
      			<p>Visit 2</p>
   
            <p><a href="visit-1.ejs">Start Visit</a></p>
            <p><a href="opinion-1.ejs">Start Opinion</a></p>

    </div>
  </div>
</div>