<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
			
      <h1 class="page-header">Grand Rounds Sales Demo</h1>
			<div class="row">
				<div class="col-md-4">
					<dl>
						<dt>Bigco Customer</dt>
						<dd>Visits and Opinions for Bigco.
							<br>
							Customized for Jeremy Gross
							<p><a href="bigco/" class="btn btn-primary">Bigco Demo</a></p>
						</dd>
					</dl>
				</div>
				<div class="col-md-4">
					<b>Features</b>
					<ul>
						<li>Account Creation</li>
						<li>Patient Dashboard</l1>
						<li>Visits Flow</li>
						<li>Prepared Patient w/Google Map</li>
						<li>Opinion Flow w/Opinion</l1>
						<li>Patient Profile</li>
					</ul>
				</div>
				<div class="col-md-4">
					<b>Next</b>
					<ul>
						<li>Patient Records</li>
						<li>Expanded Team Functionality</l1>
						<li>Improved Messages</li>
						<li>Add Family</li>	
					</ul>
				</div>
			</div>
			<hr>
			Customizeable Fields in <code>_data.json</code>
			<ul>
				<li>First Name</li>
				<li>Last Name</li>
				<li>Email</li>
				<li>Address</li>
				<li>Phone</li>
				<li>Company Name</li>
				<li>Company Logo</li>
				<li>Insurance Provider</li>
				<li>Insurance Carrier</li>
				<li>Insurance Group Number</li>
				<li>Insurance Policy Number</li>
				<li>Visits Dr. Image</li>
				<li>Visits Dr. First Name</li>
				<li>Visits Dr. Last Name</li>
				<li>Visits Dr. Specialty</li>
				<li>Visits Dr. Hospital</li>
				<li>Visits Dr. Addresss</li>
				<li>Visits Dr. Google Map</li>
				<li>Opinion Dr. Image</li>
				<li>Opinion Dr. First Name</li>
				<li>Opinion Dr. Last Name</li>
				<li>Opinion Dr. Specialty</li>
				<li>Opinion Dr. Hospital</li>
				<li>Opinion Dr. Addresss</li>
				<li>Opinion Dr. Google Map</li>
			</ul>
			<hr>
      <p>Speeds up production and maintenance of Bootstrap themes. Includes the following:</p>
      <ul>

      	<li>Bootstrap 3.3.1 minified framework.</li>
      	<li><a href="http://nodejs.org/">Node.js</a> &amp; <a href="http://harpjs.com/">Harp.js</a> integration to generate theme.</li>
      	<li>LESS compiler built in with Harp.js</li>
      	<li>LESS variable &amp; mixin library.</li>
      	<li>Flat color palette.</li>
      	<li>Development build and production files.</li>
      </ul>

      <h3>Harp.js</h3>
      <p>Install Node and then Harp. Integration allows the following in theme:</p>
      <ul>
      	<li>Parital or include chunks of code.</li>
      	<li>Global variables.</li>
      	<li>Layout template files.</li>
      	<li>LESS compiler built in.</li>
      	<li>Localhost server built in using Node.</li>
      </ul>

      <h3>Dependancies</h3>
      <ul>
      	<li><a href="http://getbootstrap.com/">Bootstrap 3.3.1</a></li>
      	<li><a href="http://nodejs.org/">Node.js</a></li>
      	<li><a href="http://harpjs.com/">Harp.js</a></li>
      	<li><a href="http://lesscss.org/">Less</a></li>
      </ul>

      <p>Made in Vancouver by <a href="http://twitter.com/cardeo">@cardeo</a></p>
    </div>
  </div>
</div>