<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>Opinion - Info about Opinions page</h1>
            <p>Start a Case</p>
            <p>Justtttt looking</p>

    </div>
  </div>
</div>