<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <!-- Page Body Starts -->
	
	<div><h1>Discount - Discount Applied</h1></div>
	
	<div class="row">
	  
	  <div class="col-md-3">
			<h4>Getting an expert opinion from our panel of elite physicians is simple and easy.</h4>
			<h4>Getting started should only take a few minutes.</h4>
	  </div>
	  
	  <div class="col-md-9">
	  		<h3>Payment Information</h3>
		  	<p><strong>Many</strong> companies have partnered with Grand Rounds to provide no-cost or heavily discounted Expert Opinions to their employees. If you believe your company provides Grand Rounds at no cost for you, and you don't have your discount code, please call us at: 800-555-1212.</p>
		  	
		  	<hr />
	  		
		  	<h3>Grand Rounds Expert Consultation $7,500</h3>
		  	<ul>		
				<li>Personal Care Coordinator</li>
				<li>Collection, digitization, and distribution of your medical records</li>
				<li>Specialist medical review</li>
				<li>Leading expert written opinion</li>
				<li>Post-opinion follow up for additional questions and referrals</li>
		  	</ul>
		  	<h3>Discount -$7,500</h3>
		  	<h3>Cost to you: $0</h3>
	  		
	  		<hr />
	  		
	  		<p><a href="opinion-4" type="button" class="btn btn-primary btn-lg btn-block">Continue</a></p>
	  </div>
	  
	</div>
	
	<!-- Page Body Ends -->
    </div>
  </div>
</div>