<div class="container">
  <div class="row">
	  <div class="col-md-8 col-md-offset-2">
			<h3 class="page-header">Grand Rounds Opinions: <small>An expert second opinion from a world leading physician.</small></h3>
			<p>If you're ready, you can <a href="#">START A CASE</a> right away.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<ul>
				<li>
					<div class="label label-default">Step 1</div>
					<h4>Start a case</h4>
					<p>Tell us a little about yourself and your health. It's fast. We're there to help you along the way with a Staff Physician and Care Coordinator that stick with you throughout your case.</p>
				</li>
				<li>
					<div class="label label-default">Step 2</div>
					<h4>Sit back while we gather your records & select an expert.</h4>
					<p>We handle all the administrative work while adhering to the strictest security and privacy standards. Based on your records, we then select a world leader in your care to review your case.</p>
				</li>
				<li>
					<div class="label label-default">Step 3</div>
					<h4>Our expert develops your diagnosis and treatment plan.</h4>
					<p>Based on your records, diagnostic tests, and imaging, our world leading expert develops a diagnosis and treatment plan independent of your existing course of care.</p>
				</li>
				<li>
					<div class="label label-default">Step 4</div>
					<h4>Review your expert's opinion and take action.</h4>
					<p>You and your local treating physician will receive a written opinion from the specialist in a matter of days, confirming or modifying your original diagnosis and treatment plan. You can always access your opinion and records, and you can follow-up with your Staff Physician at any time.</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="well col-md-8 col-md-offset-2">
			<h3>Ready to start a case?</h3>
			<p><a href="opinion-2" type="button" class="btn btn-primary btn-lg btn-block">Yes, let's go</a></p>
			<p><a href="dashboard-1" type="button" class="btn btn-default btn-lg btn-block">Not right now, just looking</a></p>
		</div>
	</div>
	
</div>