<div class="container">
	
	<div class="row">
		<div class="col-md-12">
			
			<section>
				<header><h2>Account Settings</h2></header>
			</section>
			
			<section>
				<ul class="nav nav-tabs">
					<li role="presentation"><a href="profile">Profile</a></li>
					<li role="presentation"><a href="profile-password">Password</a></li>
					<li role="presentation" class="active"><a href="pofile-medicalcoverage">Medical Coverage</a></li>
					<li role="presentation"><a href="profile-notifications">Notification Settings</a></li>
				</ul>
			</section>
			
		</div>
	</div>
	
	<div class="row tab-content">
		
		<div class="col-md-8">
			<h3>Your family is covered</h3>
			<p><strong>[Company]</strong> is providing valuable Grand Rounds benefits to your entire family.</p>
			
			<div class="row">
				<div class="col-md-10">
					<p><strong>[Name]</strong><p>
					<h6>Added about [time] ago</h6>
				</div>
				<div class="col-md-2">
					<a href="#" class="btn btn-info">Edit</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-10">
					<p><strong>[Name]</strong></p>
					<h6>Added about [time] ago</h6>
				</div>
				<div class="col-md-2">
					<a href="#" class="btn btn-info">Edit</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-10">
					<p><strong>[Name]</strong></p>
					<h6>Added about [time] ago</h6>
				</div>
				<div class="col-md-2">
					<a href="#" class="btn btn-info">Edit</a>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-2 col-md-offset-10">
					<a href="#" class="btn btn-primary">Add</a>
				</div>
			</div>
		
			<hr />
		
			<section>
				<h3>Who in my family is covered?</h3>
				<p><strong>[Company]</strong> and <strong>Grand Rounds</strong> are offering services for you:</p>
				<ul>
					<li>Grand Parents</li>
					<li>Parents</li>
					<li>Siblings</li>
					<li>Spouses and Partners</li>
					<li>Children (including step-children)</li>
				</ul>
			</section>
			
			<section>
				<h3>What will I need to get started?</h3>
				<p>Creating an account for a family member is just like starting your own. In addition to some basic info, you will need to enter their birthday and the last four digigs of their Social Security Number.</p>
			</section>
		
		</div>
		
		
		<div class="col-md-3 col-md-offset-1 well">
			
			<section>
				<img src="assets/company-logo-jambajuice.png" alt="company-logo-jambajuice" width="197" height="65" />
			</section>
			
			<section>
				<p><strong>[Company] HR</strong><br />
					<a href="#">hr@company.com</a><br />
					1-800-555-5555</p>
					
				<p><strong>Grand Rounds Support</strong><br />
					<a href="#">support@grandounds.com</a><br />
					1-800-555-5555</p>
			</section>
			
			
			<section>
				<img src="assets/company-insurance-anthem.png" alt="company-insurance-anthem" width="125" height="35" />
			</section>
				<p><strong>[Insurance Company Name]</strong><br />
					<a href="#">EMAIL@COMPANYNAME.com</a><br />
					1-800-555-5555</p>
			<section>				
			
			<form class="" role="form">
				
				<div class="form-group has-feedback">	
					<label for="medical-group">Group Number</label>
					<input class="form-control" id="medical-group" placeholder="Group Number" type="text">
				</div>
				
				<div class="form-group has-feedback">
					<label for="medical-id">Member ID Number</label>
					<input class="form-control" id="medical-id" placeholder="Member ID Number" type="text">
				</div>
			
			</form>
		</div>
		
	</div>

</div>