<div class="container">
	
	<div class="row">
		<div class="col-md-12">
			
			<section>
				<header><h2>Account Settings</h2></header>
			</section>
			
			<section>
				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a href="#">Profile</a></li>
					<li role="presentation"><a href="#">Password</a></li>
					<li role="presentation"><a href="#">Medical Coverage</a></li>
					<li role="presentation"><a href="#">Notification Settings</a></li>
				</ul>
			</section>
			
		</div>
	</div>
	
	<div class="row tab-content">
		<div class="col-md-6">
			<form class="" role="form">
				
				<div class="row">
					<div class="form-group has-feedback col-md-6">	
						<label for="name-first">First Name</label>
						<input class="form-control" id="name-first" placeholder="First Name" type="text">
					</div>
					
					<div class="form-group has-feedback col-md-6">
						<label for="name-last">Last Name</label>
						<input class="form-control" id="name-last" placeholder="Last Name" type="text">
					</div>
				</div>
				
				<div class="form-group has-feedback">
					<label for="address-street-1">Street</label>
					<input class="form-control" id="address-street-1" placeholder="Street Address" type="text">
				</div>

				<div class="row">
					<div class="form-group has-feedback col-md-6">
						<label for="address-city">City</label>
						<input class="form-control" id="address-city" placeholder="City" type="text">
					</div>
					
					<div class="form-group has-feedback col-md-3">
						<label for="address-state">State</label>
						<select class="form-control input-lg">
							<option value="Select">Select</option>
							<option value="AL">Alabama</option>
							<option value="AK">Alaska</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="DC">District Of Columbia</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="HI">Hawaii</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="WV">West Virginia</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
						</select>
					</div>
					
					<div class="form-group has-feedback col-md-3">
						<label for="address-zip">ZIP</label>
						<input class="form-control" id="address-zip" placeholder="ZIP Code" type="text">
					</div>
				</div>
				
				<hr />
				
				<div class="form-group has-feedback">
					<label for="email-1">Email Address</label>
					<input class="form-control" id="email-1" placeholder="Email Address" type="email">
				</div>


				<div class="row">
					<div class="form-group has-feedback col-md-6">
						<label for="phone">Phone Number</label>
						<input class="form-control" id="phone" placeholder="(xxx) xxx-xxxx" type="text">
					</div>
	
					<div class="form-group has-feedback col-md-6">
						<label for="phone-type">Phone Type</label>
						<select class="form-control input-lg">
							<option>Select</option>
							<option>Mobile</option>
							<option>Home</option>
						</select>
				  	</div>
				</div>
				
				<div class="form-group has-feedback">
					<label class="checkbox-inline">
						<input type="checkbox" id="inlineCheckbox1" value="option1"> Text me case updates &amp; other helpful messages
					</label>
				</div>

				<hr />

				<div class="form-group has-feedback">
					<label for="birthday">Birthday</label>
					<input class="form-control" id="birthday" placeholder="MM / DD / YYYY" type="text">
				</div>

				<div class="form-group has-feedback">
					<label for="ssn">Last 4 of SSN</label>
					<div class="input-group">
						<div class="input-group-addon">XXX - XX - </div>
						<input class="form-control" id="ssn" placeholder="1234" type="text">
					</div>
				</div>
				
				<hr />
				
				<button type="submit" class="btn btn-primary btn-block">Save Changes</button>

			</form>
		</div>
	
		<div class="col-md-4 col-md-offset-2 well">
			<h3>Profile Picture</h3>
			<div class="center-block">
				<span class="fa-stack fa-5x">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-user fa-stack-1x fa-inverse"></i>
				</span>
			</div>
			<div class="caption">
				<p>Add a picture for our Care Team...</p>
				<p><a href="#" class="btn btn-default btn-block" role="button">Edit</a></p>
				<!-- <p><a href="#" class="btn btn-danger btn-block" role="button">Remove</a></p> -->
			</div>
		</div>
	
	</div>

</div>