<div class="container-fluid">
	<div class="col-lg-12">
		<h2 class="page-header">Account Settings</h2>
	</div>
	<div class="col-lg-6">
		<ul class="nav nav-pills">
		  <li role="presentation" class="active"><a href="#">Profile</a></li>
		  <li role="presentation"><a href="#">Privacy &amp; Security</a></li>
		  <li role="presentation"><a href="#">Coverage</a></li>
			<li role="presentation"><a href="#">Notification Settings</a></li>
		</ul>
	</div>
</div>

<div class="container-fluid tab-content">
	<div class="col-md-8">
		<div class=" tab-pane active" id="profile">
		<form role="form">
				<div class="col-lg-3">
			  <div class="form-group">
			    <label for="exampleInputEmail1">Name</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="First name">
			  </div>
			</div>
				<div class="col-lg-3">
			  <div class="form-group">
					<label for="exampleInputEmail1">&nbsp;</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Last name">
			  </div>
			</div>
			
		</form><!-- End Form -->
	</div>
	</div>
	<div class="col-lg-4">
		<!-- Profile Picture -->
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
					<div class="center-block">
						<span class="fa-stack fa-5x">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
						</span>
					</div>
		      <div class="caption">
		        <h3>Profile Picture</h3>
		        <p>Add a picture for our Care Team...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Add</a> <a href="#" class="btn btn-default" role="button">Remove</a></p>
		      </div>
		    </div>
		  </div>
		</div><!-- end profile picture -->
	</div>
</div>