<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
			<div class="wrapper">
				<header>
					<a href="/"><img alt="Grlogo-white" src="/assets/grlogo-white-44853c67824d826f7fa751a49f7e037e.png"></a>
				</header>
				<header>
					<h1>Create your Grand Rounds account</h1>
				</header>
			</div>
			
    </div>
  </div>
</div>