<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>Visit 9 - Records Requested and Release Signed</h1>
            <p>Researching specialists for you...</p>

    </div>
  </div>
</div>