<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
    <!-- Page Body Starts -->
	
	<div><h1>Visits Dashboard - Doctors Are Ready</h1></div>
	
	<div class="row">
	  
	  <div class="col-md-12 well">
		<h2>Please select a specialist and we'll begin scheduling an appointment for you.</h2>
		<p>We've found 3 leading physicians that are ready to meet with you.</p>	  
	  </div>

	</div>

	<div class="row well">
		
		<div class="col-md-4">
			<p>Dr Image</p>
			<p><strong>Dr Name</strong></p>
			<p>Specialty</p>
			<p>Hospital Name</p>
			<p>Hospital Address</p>
			<p>Num of miles from you <a href="#">MAP IT</a></p>
			<p><strong>About Dr Name</strong><br />
				Bio text is here and explains a lot about this. Bio text is here and explains a lot about this. Bio text is here and explains a lot about this. Bio text is here and explains a lot about this. Bio text is here and explains a lot about this. Bio text is here and explains a lot about this. Bio text is here and explains a lot about this.</p>
				
			<p><strong>Notes about your appointment</strong><br />
				[calendar image] Appointments within a couple of weeks</p>
			
			<button type="button" class="btn btn-default btn-lg btn-block">Select This Doctor</button>
			
		</div>
		
		<div class="col-md-4">
			Dr 2
		</div>
		
		<div class="col-md-4">
			Dr 3
		</div>
	
	</div>

	
	<div class="row">
	
		<div class="col-md-4">
			<h3>Grand Rounds Team</h3>
			
			<div class="row">
				<div class="col-md-2">IMG</div>
				<div class="col-md-2">
					<p>You (Test)</p>
				</div>
			</div>
			
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg btn-block">Add A Team Member</button>
				<button type="button" class="btn btn-default btn-lg btn-block">View Your Case Documents</button>
			</div>
		</div>
		
		<div class="col-md-8">
			<h3>Team Messages</h3>
			
			<div class="row">
				<div class="col-md-6">
		  			<textarea name="teammessagesnew" class="form-control" id="teammessagesnew" rows="3" placeholder="New Message..."></textarea>
				</div>
				
				<div class="col-md-2">
		  			<button type="button" class="btn btn-default btn-block">Send</button>
				</div>
			</div>
			
		</div>
	
	</div>
	
	<!-- Page Body Ends -->
    </div>
  </div>
</div>