<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>Visit 7 - Medical Questionnaire</h1>
            <p><a href="visit-8">Next</a></p>

    </div>
  </div>
</div>