<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
    <!-- Page Body Starts -->
	
	<div><h1>Discount - Discount Applied</h1></div>
	
	<div class="row">
	  
	  <div class="col-md-3">
			<h4>Finding a top local specialist and scheduling an appointment is simple and easy.</h4>
			<h4>Getting started should only take a few minutes.</h4>
	  </div>
	  
	  <div class="col-md-9">
	  		<h3>Payment Information</h3>
		  	<p><strong>Many</strong> companies have partnered with Grand Rounds to provide no-cost or heavily discounted Office Visits to their employees. If you believe your company provides Grand Rounds at no cost for you, and you don't have your discount code, please call us at: 800-555-1212.</p>
		  	
		  	<hr />
	  		
		  	<h3>Grand Rounds Office Visits $200</h3>
		  	<p>Grand Rounds works with physicians ranked in the top 3% of their respective fields. Among other considerations, we base our choices on the quality of a physician’s medical training, experience, clinical focus areas, and treatment preferences, as well as an overall assessment of their practice.</p>

		  	<p>With Office Visits we will assign you a Grand Rounds staff physician and a personal care coordinator who will:</p>
		  	<ul>		
				<li>Identify the leading physicians for your condition, in your area, who accept your insurance</li>
				<li>Schedule an in person visit with your chosen physician</li>
				<li>Collect and securely consolidate all your medical records and images into your digital Document Center</li>
				<li>Follow up with you after your appointment to ensure that your visit was world class</li>
		  	</ul>
		  	<h3>Discount -$200</h3>
		  	<h3>Cost to you: $200</h3>
	  		
	  		<hr />
	  		
			<button type="button" class="btn btn-primary btn-lg">Continue</button>

	  </div>
	  
	</div>
	
	<!-- Page Body Ends -->
    </div>
  </div>
</div>