<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
    <!-- Page Body Starts -->
	
	<div><h1>Discount - No discount code</h1></div>
	
	<div class="row">
	  
	  <div class="col-md-3">
			<h4>Finding a top local specialist and scheduling an appointment is simple and easy.</h4>
			<h4>Getting started should only take a few minutes.</h4>
	  </div>
	  
	  <div class="col-md-9">
	  		<h3>Payment Information</h3>
		  	<p><strong>Many</strong> companies have partnered with Grand Rounds to provide no-cost or heavily discounted Office Visits to their employees. If you believe your company provides Grand Rounds at no cost for you, and you don't have your discount code, please call us at: 800-555-1212.</p>
		  	
		  	<hr />
	  		
		  	<h3>Grand Rounds Office Visits</h3>
		  	<p>Grand Rounds works with physicians ranked in the top 3% of their respective fields. Among other considerations, we base our choices on the quality of a physician’s medical training, experience, clinical focus areas, and treatment preferences, as well as an overall assessment of their practice.</p>

		  	<p>With Office Visits we will assign you a Grand Rounds staff physician and a personal care coordinator who will:</p>
		  	<ul>		
				<li>Identify the leading physicians for your condition, in your area, who accept your insurance</li>
				<li>Schedule an in person visit with your chosen physician</li>
				<li>Collect and securely consolidate all your medical records and images into your digital Document Center</li>
				<li>Follow up with you after your appointment to ensure that your visit was world class</li>
		  	</ul>
		  	<h3>Cost to you: $200</h3>
	  		
	  		<form>
	  			<div class="form-group">
		  			<label for="discountcode">Coupon or Discount Code</label>
		  			<input type="discountcode" class="form-control" id="discountcode" placeholder="Company Code ex. GRCOMPANY100">
		  		</div>
		  		<div class="form-group">
		  			<button type="button" class="btn btn-default btn-lg">Submit Code</button>
		  		</div>
		  		
				<hr />
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Attention Medicare Beneficiaries</h4>
					</div>
					<div class="panel-body">
						<p>Grand Rounds services are not currently a Medicare covered benefit.</p>
						<button type="button" class="btn btn-default btn-lg">Learn More</button>
					</div>
				</div>

				<h4>Billing Information</h4>
	  			<div class="form-group">
		  			<label for="creditcardnumber">Credit Card</label>
		  			<input type="creditcardnumber" class="form-control" id="creditcardnumber" placeholder="Credit Card Number">
		  		</div>				
	  			<div class="form-group">
		  			<label for="credicardcvc">CVC</label>
		  			<input type="credicardcvc" class="form-control" id="credicardcvc" placeholder="CVC">
		  		</div>				
	  			<div class="form-group">
		  			<label for="credicardmonth">Month</label>
					<select class="form-control">
					  <option value="">Month</option>
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					  <option>6</option>
					  <option>7</option>
					  <option>8</option>
					  <option>9</option>
					  <option>10</option>
					  <option>11</option>
					  <option>12</option>
					</select>		  		
				</div>
												
	  			<div class="form-group">
		  			<label for="credicardyear">Year</label>
					<select class="form-control">
					  <option value="">Year</option>
					  <option>2025</option>
					  <option>2024</option>
					  <option>2023</option>
					  <option>2022</option>
					  <option>2021</option>
					  <option>2020</option>
					  <option>2019</option>
					  <option>2018</option>
					  <option>2017</option>
					  <option>2016</option>
					  <option>2015</option>
					</select>		  		
				</div>				
				
				<hr />

				<h4>Bill Address</h4>
				<div class="form-group">
		  			<label for="billingFirstName">First Name</label>
		  			<input type="billingFirstName" class="form-control" id="billingFirstName" placeholder="First Name">
		  		</div>
				<div class="form-group">
		  			<label for="billingLasttName">Last Name</label>
		  			<input type="billingLasttName" class="form-control" id="billingLasttName" placeholder="Last Name">
		  		</div>	
				<div class="form-group">
		  			<label for="billingStreet1">Street Address</label>
		  			<input type="billingStreet1" class="form-control" id="billingStreet1" placeholder="Street Address">
		  		</div>	
				<div class="form-group">
		  			<label for="billingCity">City</label>
		  			<input type="billingCity" class="form-control" id="billingCity" placeholder="City">
		  		</div>	
		  		<div class="form-group">
			  		<label for="billingstate">State</label>
					<select class="form-control">
						<option value="">Select a State</option>
						<option value="AL">Alabama</option>
						<option value="AK">Alaska</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="DC">District Of Columbia</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="HI">Hawaii</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="PR">Puerto Rico</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
						<option value="ZZ">International</option>
					</select>
				</div>
				
				<button type="button" class="btn btn-primary btn-lg">Continue</button>


	  		</form>
	  </div>
	  
	</div>
	
	<!-- Page Body Ends -->
    </div>
  </div>
</div>