<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
    <!-- Page Body Starts -->
	
	<div><h1>Discount Code Page 1</h1></div>
	
	<div class="row">
	  
	  <div class="col-md-3">
			<h4>Finding a top local specialist and scheduling an appointment is simple and easy.</h4>
			<h4>Getting started should only take a few minutes.</h4>
	  </div>
	  
	  <div class="col-md-9">
	  		<h3>Discount Code</h3>
	  		<form>
		  		<p>Many companies have partnerships with Grand Rounds that provide our services free of charge or highly discounted to their employees.</p>
		  		<p>If you do not have a code, you can still use Grand Rounds but will have to pay full-price.</p>
		  		<div class="form-group">
		  			<label for="discountcode">Coupon or Discount Code</label>
		  			<input type="discountcode" class="form-control" id="discountcode" placeholder="Company Code ex. GRCOMPANY100">
		  		</div>
		  		<p>Do you believe your company provides Grand Rounds at no cost for you? Call us at 1-800-929-0926.</p>
				<button type="button" class="btn btn-default btn-lg">Skip</button>
				<button type="button" class="btn btn-primary btn-lg">Submit Code</button>
				
	  		</form>
	  </div>
	  
	</div>
	
	<!-- Page Body Ends -->
    </div>
  </div>
</div>