<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
    <!-- Page Body Starts -->
	
	<div><h1>Medical Questionnaire</h1></div>
	
	<div class="row">
	  
	  <div class="col-md-3">
			<h4>Finding a top local specialist and scheduling an appointment is simple and easy.</h4>
			<h4>Getting started should only take a few minutes.</h4>
	  </div>
	  
	  <div class="col-md-9">
	  		<h3>[User Name]'s Medical Questionnaire</h3>

			<div class="form-group">
	  			<label for="medicalquestionnairereason">I want to see a doctor for:</label>
	  			<textarea name="medicalquestionnairereason" class="form-control" id="medicalquestionnairereason" rows="5" placeholder="Reason for referral"></textarea>
	  		</div>

	  		<div class="form-group">
		  		<label for="medicalquestionnairegender">I prefer a male or female doctor?</label>
		  		<div class="controls">
					<select class="form-control" name="medicalquestionnairegender">
						<option value="">Gender</option>
						<option value="1">Female</option>
						<option value="2">Male</option>
						<option value="3">No Preference</option>
				</div>
		  	</div>
			
			<div class="form-group">
				<label>I prefer to speak with the doctor in:</label>
			
				<div class="radio">
					<label>
						<input checked="checked" id="medicalquestionnaireenglish" name="language_choice" type="radio" value="english">English
					</label>
				</div>
			
				<div class="radio">
					<label>
						<input id="medicalquestionnaireother" name="language_choice" type="radio" value="other">Other</label>
				</div>
			
				<div class="enter-language hidden">
					<label for="input_language">Enter Language</label>
					<input id="input_language" name="input_language" type="text">
				</div>
			
	
			  	<div class="form-group">
					<button type="button" class="btn btn-primary btn-lg">Continue</button>
			  	</div> 	
			</div>

	  </div>
	  
	</div>
	
	<!-- Page Body Ends -->
    </div>
  </div>
</div>