<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>Visit 12 - Post Visit</h1>
            <p>Post visit page with the Dr. Notes and personal notes.</p>

    </div>
  </div>
</div>