<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
    <!-- Page Body Starts -->
	
	<div><h1>Visits Dashboard - Prepared Patient</h1></div>
	
	<div class="row">
	  
	  <div class="col-md-12 well">
		<h2>Appointment is scheduled</h2>
		<p>Second line</p>	  
	  </div>

	</div>

	<div class="row well">
		
		<div class="col-md-4">
			Appointment
		</div>
		
		<div class="col-md-4">
			Map
		</div>
		
		<div class="col-md-4">
			Dr Info
		</div>
	
	</div>

	
	<div class="row">
	
		<div class="col-md-4">
			<h3>Grand Rounds Team</h3>
			
			<div class="row">
				<div class="col-md-2">IMG</div>
				<div class="col-md-2">
					<p>You (Test)</p>
				</div>
			</div>
			
			<div class="form-group">
				<button type="button" class="btn btn-default btn-lg btn-block">Add A Team Member</button>
				<button type="button" class="btn btn-default btn-lg btn-block">View Your Case Documents</button>
			</div>
		</div>
		
		<div class="col-md-8">
			<h3>Team Messages</h3>
			
			<div class="row">
				<div class="col-md-6">
		  			<textarea name="teammessagesnew" class="form-control" id="teammessagesnew" rows="3" placeholder="New Message..."></textarea>
				</div>
				
				<div class="col-md-2">
		  			<button type="button" class="btn btn-default btn-block">Send</button>
				</div>
			</div>
			
		</div>
	
	</div>
	
	<!-- Page Body Ends -->
    </div>
  </div>
</div>