<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <!-- Page Body Starts -->
	
	<div><h1>Insurance Information</h1></div>
	
	<div class="row">
	  
	  <div class="col-md-3">
			<h4>Finding a top local specialist and scheduling an appointment is simple and easy.</h4>
			<h4>Getting started should only take a few minutes.</h4>
	  </div>
	  
	  <div class="col-md-9">
	  		<h3>Insurance</h3>
	  		<p>* Required for appointment scheduling purposes</p>

			<div class="form-group">
	  			<label for="insuranceemployer">Employer providing the insurance</label>
	  			<input type="insuranceemployer" class="form-control" id="insuranceemployer" placeholder="Employer">
	  		</div>

			<div class="form-group">
	  			<label for="insurancecarrier">Insurance Carrier</label>
	  			<input type="insurancecarrier" class="form-control" id="insurancecarrier" placeholder="Insurance Carrier">
	  		</div>


	  		<div class="form-group">
		  		<label for="insuranceplantype">Plan Type</label>
		  		<div class="controls">
					<select class="form-control" name="insuranceplantype">
						<option value="">Plan Type</option>
						<option value="1">HMO</option>
						<option value="2">HSA</option>
						<option value="3">POS</option>
						<option value="4">EPO</option>
						<option value="5">PPO</option>
						<option value="6">Other</option>
						<option value="7">I don't know</option>
				</div>
		  	</div>

			<div class="checkbox">
			    <label>
			      <input type="checkbox"> I am not the primary insured party
			    </label>
			  </div>

		  	<div class="form-group">
		  		<p><a href="visit-7" type="button" class="btn btn-primary">Continue</a></p>
		  	</div>

	  </div>
	  
	</div>
	
	<!-- Page Body Ends -->
    </div>
  </div>
</div>