<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
				<header>
					<p>
						<img src="../images/grlogo-white.png" width="217" height="41" alt="Grlogo White" class="center-block">
					</p>
				</header>
			<h4 class="text-center brand-white">Getting <b>YOU</b> an Expert Second Opinion</h4>
			<div class="wrapper">
<section>
	<h4>Your records locations</h4>
				Having accurate medical records locations is essential in making sure we're able to provide you the best possible care, we will not be able to proceed without them. Your current insurance provider has given us a list of locations that have access to your medical records. In order for our staff physicians to have a better understanding of your condition, we will need to start calling the locations on this list to gather your physical records. Typically these locations will be clinics, hospitals, or clinical laboratories and may sometimes have abbreviated names or locations.
			</section>
			<section>
				<div class="well checklist-info">
					<h4>Records Locations we will call</h4>
					<ul class="list-unstyled">
					<li>GEISINGER WYOMING VALLEY MEDICA</li>
						<li>GEISINGER NE SPECIALISTS</li>
						<li>GEISINGER MEDICAL CENTER</li>
						<li>GASTROENTEROLOGY CONSULTANTS</li>
						<li>RADIOLOGY ASSOCIATES OF WYOMING</li>
						<li>GEISINGER RADIOLOGY NE</li>
						<li>GWV SBC NE</li>
						<li>ASSOCIATED OBGYN SPECIALISTS NE</li>
						<li>WILKES BARRE GENERAL HOSPITAL</li>
						<li>LEIGH VALLEY HOSPITAL</li>
					<ul>
				</div>
			</section>
			<section>
				<h4>Are we missing any locations?</h4>
				If the locations above don’t look familiar or if you would like us to contact additional locations that may have records that are relative to your condition, please add them below.
				<p>
					<a href="#">+ ADD ANOTHER LOCATION</a>
				</p>
			</section>
				<form>
					
				</form><!-- /form -->
				<hr>
				<p>
					<a href="medicalrecords-opinion-release" type="button" class="btn btn-primary btn-block btn-lg">Continue</a>
				</p>
				<p class="small text-right">
					Next Step: Start your Case
				</p>
			</div><!-- /wrapper -->
		</div>
	</div>
</div>