<div class="container">
	
	<div class="row">
		<div class="col-md-12">
			
			<section>
				<header><h2>Account Settings</h2></header>
			</section>
			
			<section>
				<ul class="nav nav-tabs">
					<li role="presentation"><a href="profile.html">Profile</a></li>
					<li role="presentation"><a href="profile-password.html">Password</a></li>
					<li role="presentation"><a href="profile-medicalcoverage.html">Medical Coverage</a></li>
					<li role="presentation" class="active"><a href="profile-notifications.html">Notification Settings</a></li>
				</ul>
			</section>
			
		</div>
	</div>
	
	<div class="row tab-content">
		
		<div class="col-md-offset-2 col-md-8 col-md-offset-2">
			<form role="form">
				<div class="table-responsive">
					<table class="table table-striped table-condensed">
						<thead>
							<tr>
								<th>Get notified by email or phone when you have...</th>
								<th>Email</th>
								<th>Phone</th>
							</tr>
						</thead>
						<tbody>
							
							<tr>
								<td>New Messages</td>
								<td>
									<div class="form-group has-feedback">
										<input type="checkbox" id="new-messages-email" value="new-messages-email" checked>
									</div>
								</td>
								<td>
									<div class="form-group has-feedback">
										<input type="checkbox" id="new-messages-phone" value="new-messages-phone" checked>
									</div>
								</td>
							</tr>

							<tr>
								<td>Appointment Reminders</td>
								<td>
									<div class="form-group has-feedback">
										<input type="checkbox" id="appointment-email" value="appointment-email" checked>
									</div>
								</td>
								<td>
									<div class="form-group has-feedback">
										<input type="checkbox" id="appointment-phone" value="new-messages-phone" checked>
									</div>
								</td>
							</tr>

							<tr>
								<td>Account Changes</td>
								<td>
									<div class="form-group has-feedback">
										<input type="checkbox" id="accountchanges-email" value="accountchanges-email" checked>
									</div>
								</td>
								<td>
									<div class="form-group has-feedback">
										<input type="checkbox" id="accountchanges-phone" value="accountchanges-phone" checked>
									</div>
								</td>
							</tr>

							<tr>
								<td>Medical Records Updates</td>
								<td>
									<div class="form-group has-feedback">
										<input type="checkbox" id="medicalrecords-email" value="medicalrecords-email" checked>
									</div>
								</td>
								<td>
									<div class="form-group has-feedback">
										<input type="checkbox" id="medicalrecords-phone" value="medicalrecords-phone" checked>
									</div>
								</td>
							</tr>


							
						</tbody>
					</table>
				</div>		
			</form>	
		</div>
				
	</div>

</div>