<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
				<header>
					<p>
						<img src="../images/grlogo-white.png" width="217" height="41" alt="Grlogo White" class="center-block">
					</p>
				</header>
			<h4 class="text-center brand-white">Finding a Specialist to see in person</h4>
			<div class="wrapper">
		<section>
			<div class="media">
						  <div class="media-left">
						    <a href="#">
						      <img class="media-object" src="../images/icons/Document-Illustration.png" alt="...">
						    </a>
						  </div>
						  <div class="media-body">
						    Since this is your first visit with Grand Rounds we’ll need to collect a little information from you. The good news is that you’ll only have to enter most of the information one time.
						  </div>
						</div><!-- /media -->
			</section>
				<form>
				<section>
					<h4>Are you looking for a specialist for yourself or someone else?</h4>
				</section>
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					    Myself
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					    Someone else in my family
					  </label>
					</div>
				</form>
				<hr>
				<p>
					<a href="visit-2-combined.html" type="button" class="btn btn-primary btn-block btn-lg">Continue</a>
				</p>
				<p class="small text-right">
					Next Step: Tell us about you
				</p>
			</div><!-- /wrapper -->
		</div>
	</div>
</div>