	<div class="well welcome-home">
		<div class="container">
		<h2>Your case has started and we are researching Specialists for you</h2>
		<p>We will email you when your physician options are available. This process typically takes less than 24 hours.</p>	  
	</div>
	</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <!-- Page Body Starts -->
	<div class="well checklist-danger">
		<div class="row">
			<div class="col-md-1">
				<div class="fa fa-exclamation-triangle fa-4x brand-warning"></div>
			</div>
			
			<div class="col-md-7">
				<h4>Sign your Medical Records</h4>
				Your specialist will need copies of your prior medical records. Please tell us who to contact to retrieve those records for your appointment.
			</div>
			
			<div class="col-md-4">
				<a href="medicalrecords-req1" class="btn btn-warning btn-block" data-method="get">SIGN</a>
			</div>
		</div>
	</div>

	
	<div class="row">
	
		<div class="col-md-4">
			<h3>Grand Rounds Team</h3>
			
			<div class="media">
			  <div class="media-left">
			    <a href="#"><img class="media-object" src="../assets/icon-user-patient.png" width="64" alt="Icon User Patient">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">You</h4>
			   <%= firstName %>
			  </div>
			</div>
			<div class="media">
			  <div class="media-left">
			    <a href="#"><img class="media-object" src="../assets/icon-user-cc.png" width="64" alt="Icon User Patient">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Care Coordinator</h4>
			   Erin Moore
			  </div>
			</div>
			<div class="media">
			  <div class="media-left">
			    <a href="#"><img class="media-object" src="../assets/icon-user-sp.png" width="64" alt="Icon User Patient">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Staff Physician</h4>
			   <span class="label label-info">Joining soon...</span>
			  </div>
			</div>
			<div>
				<hr>
				<a href="#"> <i class="fa fa-plus-circle"></i> ADD A TEAM MEMBER</a>
				<br>
				<span class="small">
					Invite a family member or caregiver to your team, but keep in mind that they will have access to your case history, medical records, and team messages.
				</span>
			</div>
			
		</div>
		
		<div class="col-md-7 col-md-offset-1">
			<h3>Team Messages</h3>
			<div class="row">
				<div class="col-md-4 col-md-offset-8">
				<button type="button" class="btn btn-info">New Message</button>
			</div>
			</div>
	
			<div class="media">
			  <div class="media-left">
			    <a href="#"><img class="media-object" src="../assets/icon-user-cc.png" width="32" alt="Icon User Patient">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Welcome to Grand Rounds!</h4>
					<span class="small">Monday March 23rd, 2015</span> <span class="label label-danger">NEW</span> 
			   	<p>Hi <%= firstName %>, I'm Erin the Care Coordinator for your visit and I'm excited to help you through the visit process.</p>
					Here's what you can to expect to happen next:
					<ul>
						<li>We'll start collecting your medical records as soon as you <a href="#">sign your medical release form</a>.</li>
						<li>One of our Staff Physicians will join your case</li>
						<li>Within the next 24-48 hours, we'll locate a doctor in your area and send you a message</li>
						<li>After you select your specialist we'll start scheduling appointment times</li>
					</ul>
					<a href="#"><i class="fa fa-reply"></i> Reply</a>
			  </div>
			</div>
			
		</div>
	
	</div>
	
	<!-- Page Body Ends -->
    </div>
  </div>
</div>

    <script type="text/javascript">
        function generate(type, text) {

            var n = noty({
                text        : text,
                type        : type,
                dismissQueue: true,
                layout      : 'topCenter',
								timeout     : 'true',
                closeWith   : ['click'],
                theme       : 'relax',
                maxVisible  : 10,
                animation   : {
                    open  : 'animated bounceInLeft',
                    close : 'animated bounceOutLeft',
                    easing: 'swing',
                    speed : 500
                }
            });
            console.log('html: ' + n.options.id);
        }

        function generateAll() {
            //generate('warning', notification_html[0]);
            //generate('error', notification_html[1]);
            generate('information', notification_html[2]);
            //generate('success', notification_html[3]);
//            generate('notification');
//            generate('success');
        }

        $(document).ready(function () {

            setTimeout(function() {
                generateAll();
            }, 500);

        });

    </script>