<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
				<header>
					<p>
						<img src="../images/grlogo-white.png" width="217" height="41" alt="Grlogo White" class="center-block">
					</p>
				</header>
			<h4 class="text-center brand-white">Finding <b>YOU</b> Specialist to see in person</h4>
			<div class="wrapper">
				<section>
					<h4>Verify we’ve got the right Insurance Information</h4>
					<div class="media">
								  <div class="media-left">
								    <a href="#">
								      <img class="media-object" src="../images/icons/icon-insurance.png" alt="...">
								    </a>
								  </div>
								  <div class="media-body">
								    <b><%= insuranceProvider %></b>
										<br />
										<%= insuranceCarrier %>
								  </div>
								</div><!-- /media -->
					</section>
					<form>
						<div class="form-group">
					    <label for="exampleInputEmail1">Policy Number</label>
					    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Policy Number">
					  </div>
						<div class="form-group">
					    <label for="exampleInputEmail1">Group Number</label>
					    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Group Number">
					  </div>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						    I am the primary insured
						  </label>
						</div>
					</form>
				<hr>
				<p>
					<a href="visit-4.html" type="button" class="btn btn-primary btn-block btn-lg">Continue</a>
				</p>
				<p class="small text-right">
					Next Step: Reason for Visit
				</p>
			</div><!-- /wrapper -->
		</div>
	</div>
</div>