<div class="container cc-progress-bar">
	<div class="row">
		<div class="col-xs-2 col-xs-offset-1 text-center"><i class="fa fa-check-circle"></i> <span class="hidden-xs hidden-sm">Getting Started</span></div>
		<div class="col-xs-2 text-center"><i class="fa fa-check-circle"></i> <span class="hidden-xs hidden-sm">Condition</span></div>
		<div class="col-xs-2 text-center"><i class="fa fa-check-circle"></i> <span class="hidden-xs hidden-sm">About You</span></div>
		<div class="col-xs-2 text-center cc-progress-bar-active"><i class="fa fa-circle-o"></i> <span class="hidden-xs hidden-sm">Records</span></div>
		<div class="col-xs-2 text-center"><i class="fa fa-circle-o"></i> <span class="hidden-xs hidden-sm">Record Release Form</span></div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<section class="cc-section-header">
				<img src="../assets/icon_cc-04.png" alt="icon_cc-04" width="170" height="170" class="img-responsive center-block" />
				<h2 class="text-center">Tell us where to find your medical records</h2>
				<h4 class="text-center subtext">We’ll collect and send them to the office ahead of your visit so they can prepare for your arrival.</h4>
			</section>
				
			<form>
				<section>
					<p class="cc-input-headings">We'll start with these locations that your insurance provider has given us:</p>					
					<div class="row">
						<div class="col-md-6 small">
							<p>GEISINGER WYOMING VALLEY MEDICA<br />
							GEISINGER NE SPECIALISTS<br />
							GEISINGER MEDICAL CENTER<br />
							GASTROENTEROLOGY CONSULTANTS<br />
							RADIOLOGY ASSOCIATES OF WYOMING</p>						
						</div>
						<div class="ol-md-6 small">
							<p>GEISINGER RADIOLOGY NE<br />
							GWV SBC NE<br />
							ASSOCIATED OBGYN SPECIALISTS NE<br />
							WILKES BARRE GENERAL HOSPITAL<br />
							LEIGH VALLEY HOSPITAL</p>
						</div>
					</div>
					<p class="cc-input-headings">Are there any that we're missing?</p>					
					<p><a href="#"><i class="fa fa-plus-circle"></i> Add location</a></p>
				</section>
				
				<section class="cc-continue">
					<hr />
					<p><a href="visit-5 v2.html" type="button" class="btn btn-primary btn-block btn-md">Continue</a></p>
				</section>
			</form>

		</div><!-- column -->
	</div><!-- << row -->
</div><!-- << Container -->