<div class="container">
	<div class="row">
		<!-- Create Your Account >> -->

		<div class="col-md-6 col-md-offset-3">
			<section>
				<h3>Reserve your Grand Rounds account</h3>
				<small>Already have an account? <a href="#" data-toggle="modal" data-target="#SignIn">Sign In</a></small>
			</section>
			<form role="form">

				<div class="form-group">
					<p class="h6">Name</p>
					<div class="row">
						<div class="form-group col-sm-6">
							<input type="text" class="form-control" id="patientFirstName" placeholder="First Name">
						</div>
						<div class="form-group col-sm-6">
							<input type="text" class="form-control" id="patientLastName" placeholder="Last Name">
						</div>
					</div>
				</div>

				<div class="form-group">
					<p class="h6">Email</p>
					<input type="email" class="form-control" id="patientemail" placeholder="Email Address">
				</div>

				<div class="form-group">
					<p class="h6">Create your password</p>
					<input type="password" class="form-control" id="patientpassword" placeholder="Create a password">
					<!-- <div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
							Password Strength: Weak
						</div>
					</div>
				-->
				</div>

				<div class="form-group">
					<p class="h6">Phone Number</p>
					<div class="row">
						<div class="form-group col-sm-8 col-xs-8">
							<input type="text" class="form-control" id="patientphone" placeholder="(555) 555-5555">
						</div>
						<div class="form-group col-sm-4 col-xs-4">
							<select class="form-control cc-dropdown" id="patientphonetype">
								<option selected disabled>Select</option>
								<option>Mobile</option>
								<option>Home</option>
								<option>Work</option>
								<option>Other</option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group card card-block">
				  	<p>For security purposes and to verify your benefits, please enter the information below.</p>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<p class="h6">Birthday</p>
								<input type="email" class="form-control" id="patientbirthday" placeholder="MM/DD/YYYY">
							</div>
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<p class="h6">Last 4 digits of Social Security Number</p>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">XXX-XX-</span>
									<input type="text" class="form-control" id="patientssn" placeholder="1234" aria-describedby="basic-addon1">
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="form-group">
					<div class="checkbox checkbox-success">
						<input type="checkbox" id="tos" checked>
						<label for="tos">I agree to the Grand Rounds <a href="#">Terms of Service</a></label>
					</div>
				</div>


				<section>
					<hr />
					<p><a href="dashboard-welcome.html" type="button" class="btn btn-primary btn-block btn-lg">Create Account</a></p>
					<small class="subtext">You’ll occasionally receive emails from Grand Rounds highlighting the services that are available to you and your family. You can always change your email preferences by editing your account page.</small>
				</section>

			</form>
		</div>

	</div>
</div>


<!-- Sign In Modal >> -->
<div class="modal fade" id="SignIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content modal-howwechoose">

			<div class="modal-header modal-header-signin">
				<h3 class="modal-title" id="myModalLabel">Sign In</h3>
			</div>


			<div class="modal-body">
				<div class="containter">
					<div class="row">
						<div class="col-md-12">

							<form role="form">

								<div class="form-group has-success">
									<p class="h6">Email</p>
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope fa-fw"></i></span>
										<input type="email" class="form-control" id="patientemail" placeholder="Email address" value="<%= email %>" aria-describedby="basic-addon1">
									</div>
								</div>


								<div class="form-group has-success">
									<p class="h6">Password</p>
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock fa-fw"></i></span>
										<input type="password" class="form-control" id="patientpassword" placeholder="Password" value="password1234" aria-describedby="basic-addon1">																	</div>
									<small><a href="#" class="subtext">Forgot your password?</a></small>
								</div>


								<section>
									<hr />
									<p><a href="dashboard-welcome.html" type="button" class="btn btn-primary btn-block btn-lg">Sign In</a></p>
								</section>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- << Sign In Modal -->
