<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="dashboard-welcome.html" class="navbar-brand"><img src="../images/grlogo-poweredby.png" height="24" alt="Grlogo White"></a>
    </div>
    <div class="navbar-brand" style="margin-left:14em;"><img  src="../assets/home_wcmclogo_white.png" height="32"></div>
  </div>
</nav>
