<header class="center-block text-center hidden-sm hidden-xs">
	<img src="../assets/img_dashboard-team.jpg" alt="img_dashboard-team" height="150" class="center-block img-responsive" />
</header>

<div class="container">
	<div class="row">
		<!-- Page Header >> -->
		<div class="col-md-12">
			<h1 class="text-center">We're here to help</h1>
			<p class="h4 text-center subtext">Welcome to Grand Rounds, <%= firstName %>. Whenever you need us, we're ready to help.</p>
		</div>
	</div><!-- << Page Header -->
		
	<!-- Primary CTA Buttons >> -->
	<section class="dashboard">
		<div class="row">
			<div class="col-md-12">
				<p class="h2 center-text">How can we help you, <%= firstName %>?</p>
			</div>
			<div class="col-md-6">
				<a href="visit-1.html" class="btn btn-primary btn-block btn-image btn-lg"><span class="image"></span>I want to visit a specialist in person</a>
			</div>
			<div class="col-md-6">
				<a href="opinion-1.html" class="btn btn-primary btn-block btn-image btn-lg"><span class="image"></span>I want an expert second opinion</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="#" class="btn btn-primary btn-block btn-image btn-lg"><span class="image"></span>I'm in the hospital and I need help</a>
			</div>
			<div class="col-md-6">
				<a href="visit-1.html" class="btn btn-primary btn-block btn-image btn-lg"><span class="image"></span>I need a new primary care doctor</a>
			</div>
		</div><!-- << Primary CTA Buttons -->
	</section>

	<div class="row">
		
		<!-- Left Column >> -->
		<div class="col-md-7">
			<!-- Co Branding >> -->
			<section class="dashboard">
				<img src="../assets/logo_bigco-blue.png" alt="logo_bigco-color" class="center-block img-responsive" />
				<p class="h3">BigCo just got you the best medical care in the world.</p>
				<p>As a part of our commitment to our employees, BigCo, is excited to provide these Grand Rounds benefits to your and your entire family at no charge (office co-pay rates may still apply.)</p>
			</section><!-- << Co Branding -->
		
			<!-- Add family Members >> -->
			<section class="dashboard">
				<div class="well well-team">
					<div class="row">
						<div class="col-md-12">
							<p class="h5">Invite your Family Members to Grand Rounds</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">						
							<p>Grand Rounds is excited to offer Grand Rounds benefits to your extended family. Simply add family members to your account and we'll send them an invitation.</p>
						</div>
						<div class="col-md-4">
							<a href="#" class="btn btn-tertiary btn-block btn-sm" data-method="get">Add Family</a>
						</div>		
					</div>
				</div>
			</section>
			<!-- << Add family Members -->
		
			<!-- FAQs >> -->		
			<section class="dashboard">
				<p class="h3">Frequently Asked Questions</p>
				<div class="faq">
					<h4>Should I get an Expert Opinion?</h4>
					<p>An accurate diagnosis is critical to getting the best treatment. That’s why doctors suggest getting a second opinion before almost all non-emergency surgeries, long term treatments and major operations. If you are unsure or just want to confirm your current course of treatment, a second opinion can help give you confidence that you are getting the most appropriate treatment.</p>
				</div>

				<div>
					<a href="#faq" data-toggle="collapse">More Grand Rounds F.A.Q.s <i class="fa fa-caret-down"></i></a>
				</div>
				
				<div id="faq" class="collapse">
					<div class="faq">
						<h4>How does Grand Rounds select their doctors?</h4>
						<p>Our consulting physicians are the leaders in their fields. They are recruited from premier research hospitals, including Duke University, the Mayo Clinic and Harvard University. Physicians are selected based on peer recommendations, research and publishing in high-impact journals. Before we invite a physician to consult on a case, we ask the top doctors in the field a simple faq: who would you call if a member of your family needed a second opinion?</p>
					</div>
					<div class="faq">
						<h4>How do I get an Expert Opinion from Grand Rounds?</h4>
						<p>We’ve worked hard to make getting an Expert Opinion with us really simple. All you have to do is answer some faqs about your case and either send us your medical records or tell us where they are and we’ll go get them. Then we’ll review your records and match you with the top specialist that will examine your case and recommend a treatment option. The review process usually takes about a week.</p>
					</div>
					<div class="faq">
						<h4>What do I get with the Expert Opinion?</h4>
						<p>We will collect your medical records and provide a digital copy to a member of our Expert Panel. Our consulting physicians will write an Expert Opinion. The report will address exactly the areas you specified when we asked you “How can we help?” In the meantime, your Care Coordinator will keep you updated daily on the status of your case and on the latest research on your condition from top hospitals and universities.</p>
					</div>
					<div class="faq">
						<h4>How much does an Expert Opinion cost from Grand Rounds?</h4>
						<p>The fee for Grand Rounds differs for each patient, depending on the complexity of the case. Typically, a second opinion costs $7,500. The costs of a second opinion may be covered by your employer, so ask your employer if Grand Rounds is offered as an amazing company benefit!</p>
					</div>
					<div class="faq">
						<h4>Will my doctor be angry if I get another opinion?</h4>
						<p>Getting another medical opinion for serious diagnoses is a reasonable and responsible thing to do. Your doctor should understand this. With Grand Rounds, you can request an Expert Opinion without letting your doctor know in most states.</p>
					</div>
					<div class="faq">
						<h4>Can I pay for Grand Rounds with my health insurance?</h4>
						<p>We currently do not accept insurance as a form of payment but your health insurance plan may cover Grand Rounds as an out-of-network provider. We provide you with all the materials you need to submit a request for reimbursement (E&amp;M Code and special backup required by the AMA CPT). The patients we have worked with so far tell us that being able to use medical savings accounts helps make the service more affordable. For many patients and their families, the cost of the service is far outweighed by the value they get out of using it. Consider using your HSA account to pay for Grand Rounds; this would be an excellent way to use our solution.</p>
					</div>
					<div class="faq">
						<h4>Is this legal?</h4>
						<p>Yes. Grand Rounds has exhaustively studied the laws in all 50 states and Puerto Rico to understand what level of consultation is permitted in each jurisdiction. Before we assign a case, we ensure that the patient and the physician–and often the patient’s primary care physician–can work together per the relevant local laws.</p>
					</div>
					<div class="faq">
						<h4>Is this service available outside of the US?</h4>
						<p>Yes. Grand Rounds is available in 117 countries. We have run cases for patients on 6 different continents. So long as we can collect your medical records, we can run a second opinion on your behalf.</p>
					</div>
					<div class="faq">
						<h4>Is this service compliant with government privacy and information security regulations like HIPAA?</h4>
						<p>Yes, we meet or exceed all federal requirements for protecting personal health information (PHI) of patients under the Health Insurance Portability Accountability Act of 1996 (HIPAA). We do this using technology and smart business practices. The technology we employ encrypts and stores all PHI securely while still allowing for the physician to access critical information easily and quickly. Our business practice is to only collect the information we need at the time we need it. For example, we do not collect or store PHI until after a patient decides to become a client and we carefully segregate PHI from general user information and data.</p>
					</div>
				</div>
				
				
			</section><!-- << FAQs -->
		
		</div><!-- << Left Column -->
		
		<!-- Right Column >> -->
		<div class="col-md-4 col-md-offset-1 col-sm-6 col-sm-offset-3">
			

			<!-- Common Conditions >> -->
			<section class="dashboard">
				<div class="well well-green">
					<p class="h5 text-center">Some common conditions we help our patients with</p>
					<ul class="list-unstyled common-list">
						<li><i class="fa fa-check check-success"></i> Sports injuries</li>
						<li><i class="fa fa-check check-success"></i> Chronic headaches/migraine</li>
						<li><i class="fa fa-check check-success"></i> Cardiac issues</li>
						<li><i class="fa fa-check check-success"></i> Neck or back pain</li>
						<li><i class="fa fa-check check-success"></i> Breast cancer</li>
						<li><i class="fa fa-check check-success"></i> Ulcerative colitis</li>
						<li><i class="fa fa-check check-success"></i> Colon cancer</li>
						<li><i class="fa fa-check check-success"></i> Pregnancy complications</li>
						<li><i class="fa fa-check check-success"></i> Pediatric care</li>
						<li><i class="fa fa-check check-success"></i> Thyroid disorders</li>
						<li><i class="fa fa-check check-success"></i> Peripheral vascular disease</li>
						<li><i class="fa fa-check check-success"></i> Parkinson’s disease</li>
						<li><i class="fa fa-check check-success"></i> Rheumatoid arthritis</li>
					</ul>
					<p class="text-center">Our Care Team can help you understand if Grand Rounds is right for you.</p>
					<p class="text-center">Call anytime at <a href="tel:800-929-0926"><strong>800-929-0926</strong></a></p>
				</div>
			</section><!-- << Common Conditions -->

			<!-- Download the App >> -->
			<section class="dashboard">
				<div class="well well-gettheapp">
					<img src="../assets/img-gettheapp.png" alt="img-gettheapp" width="192" height="200" class="center-block img-responsive"/>
					<p class="h4 text-center">Get the app</p>
					<p class="text-center">Download the free Grand Rounds mobile app and stay connected with your care team on the go.</p>
					<div class="row">
						<div class="col-md-6 col-xs-6">
							<a href="https://play.google.com/store/apps/details?id=com.grandroundshealth.m" target="_blank">
								<img src="../images/get-it-on-google-play-store-logo.png" alt="Grand Rounds on Google Play" width="150" class="img-responsive">
							</a>
						</div>
						<div class="col-md-6 col-xs-6">
							<a href="https://itunes.apple.com/us/app/grand-rounds/id907304333?ls=1&amp;mt=8" target="_blank">
								<img src="../images/apple-store-badge.png" alt="Grand Rounds on iTunes" width="150" class="img-responsive">
							</a>
						</div>						
					</div>
				</div>
			</section><!-- << Download the App -->

		</div><!-- << Right Column -->
		
	</div><!-- << Row -->
</div><!-- << Container -->