<section>&nbsp;</section>
<div class="container">
	<div class="row">
		<!-- Co-Branding >> -->
		<div class="hidden-xs hidden-sm col-md-5 well well-team">
			<section>
				<img src="../assets/logo-blue.png" alt="Banner Grlogo" width="200" class="center-block img-responsive">
			</section>
			<section>
				<p class="h4 text-center">Access the best medical care in the world</p>
				<p class="subtext text-center">A FREE benefit provided to you by BigCo</p>
			</section>
			<section>	
				<p class="h4 text-center">Create your Grand Rounds account</p>
				<p class="subtext text-center">Our Medical Team is waiting to help!</p>
			</section>
			<section>
				<div class="media">
					<div class="media-left media-middle">
						<img class="media-object" src="../assets/icon_ac-opinion.png" alt="opinion" class="img-responsive" />
					</div>
					<div class="media-body media-middle">
						<p class="media-heading">Get an Expert Opinion from the world's leading doctors</p>
					</div>
				</div>
				<div class="media">
					<div class="media-left media-middle">
						<img class="media-object" src="../assets/icon_ac-visit.png" alt="visit" class="img-responsive" />
					</div>
					<div class="media-body media-middle">
						<p class="media-heading">Get an in-person appointment with a top doctor</p>
					</div>
				</div>
				<div class="media">
					<div class="media-left media-middle">
						<img class="media-object" src="../assets/icon_ac-question.png" alt="question" class="img-responsive" />
					</div>
					<div class="media-body media-middle">
						<p class="media-heading">Have all your medical questions answered</p>
					</div>
				</div>
			</section>
			<section>
				<hr />
				<a href="#" class="btn btn-secondary btn-block">Frequently Asked Questions</a>
			</section>
		</div><!-- << Co-Branding -->
		
		<!-- Create Your Account >> -->
		<div class="col-md-6 col-md-offset-1">
			<section>
				<h3>Create your Grand Rounds account</h3>
				<small>Already have an account? <a href="#">Sign In</a></small>
			</section>
			<form role="form">
				
				<div class="form-group">
					<p class="cc-input-headings">Name</p>
					<div class="row">
						<div class="form-group col-md-6">					
							<input type="text" class="form-control" id="patientFirstName" placeholder="First Name">
						</div>
						<div class="form-group col-md-6">
							<input type="text" class="form-control" id="patientLastName" placeholder="Last Name">
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<p class="cc-input-headings">Email</p>
					<input type="email" class="form-control" id="patientemail" placeholder="Email Address">
				</div>

				<div class="form-group">
					<p class="cc-input-headings">Create your password</p>
					<input type="password" class="form-control" id="patientpassword" placeholder="Password">
				</div>
				
				<div class="form-group">
					<div id="messages"></div>
				</div>
			
			
			</form>
			
		</div>
	</div>
</div>