<div class="container cc-progress-bar">
	<div class="row">
		<div class="col-xs-2 col-xs-offset-2 text-center"><i class="fa fa-check-circle"></i> <span class="hidden-xs hidden-sm">Getting Started</span></div>
		<div class="col-xs-2 text-center cc-progress-bar-active"><i class="fa fa-circle-o"></i> <span class="hidden-xs hidden-sm">Condition</span></div>
		<div class="col-xs-2 text-center"><i class="fa fa-circle-o"></i> <span class="hidden-xs hidden-sm">Records</span></div>
		<div class="col-xs-2 text-center"><i class="fa fa-circle-o"></i> <span class="hidden-xs hidden-sm">Record Release Form</span></div>
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<section class="cc-section-header">
				<img src="../assets/icon_cc-01.png" alt="icon_cc-01" width="170" height="170" class="center-block hidden-xs" />
				<img src="../assets/icon_cc-01.png" alt="icon_cc-01" width="100" class="center-block hidden-lg hidden-md hidden-sm" />
				<h2 class="text-center">Tell us about your condition</h2>
				<h4 class="text-center subtext">We need some more information in order to provide you with the best care possible.</h4>
			</section>
				
			<form role="form">
				<section>

					<div class="form-group">
						<p class="h6">Please provide some background about your medical condition: Your diagnosis, what doctors have told you, any other details we should know.</p>					
						<textarea class="form-control noresize" rows="5" id="opinion-background" placeholder="Background on medical condition"></textarea>
					</div>					

					<div class="form-group">
						<p class="h6">What concerns you most about your medical condition?</p>					
						<textarea class="form-control noresize" rows="5" id="opinion-concerns" placeholder="Let us know about your medical concerns"></textarea>
					</div>			

					<div class="form-group">
						<p class="h6">What questions would you like your expert physician to answer?</p>					
						<textarea class="form-control noresize" rows="5" id="opinion-questions" placeholder="Questions for the expert to review"></textarea>
					</div>			

					<div class="form-group">
						<p class="h6">What, if any, medications are you currently taking (including over-the-counter and vitamins)?</p>					
						<textarea class="form-control noresize" rows="5" id="opinion-medications" placeholder="Medications, over-the-counter, and vitamins"></textarea>
					</div>			

					<div class="form-group">
						<p class="h6">Please list any other major medical conditions or major surgeries you have had:</p>					
						<textarea class="form-control noresize" rows="5" id="opinion-major" placeholder="Medical conditions or major surgeries"></textarea>
					</div>			

					<div class="form-group">
						<p class="h6">Has anyone else in your family been diagnosed with a similar medical problem (siblings, parents, grandparents)?</p>					
						<textarea class="form-control noresize" rows="5" id="opinion-history" placeholder="Family medical history"></textarea>
					</div>			

					<div class="form-group">
						<p class="h6">Is there anything else you would like the expert to know?</p>					
						<textarea class="form-control noresize" rows="5" id="opinion-anythingelse" placeholder="Optional"></textarea>
					</div>			

				</section>
				
				<section class="cc-continue">
					<hr />
					<p><a href="opinion-3.html" type="button" class="btn btn-primary btn-block btn-md">Continue</a></p>
				</section>
			</form>

		</div><!-- column -->
	</div><!-- << row -->
</div><!-- << Container -->