<div class="tabbable">
	<section class="nav-cases-container">
		<div class="container">		
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-pills nav-justified nav-cases">
					  <li class="active"><a href="#tab1" data-toggle="pill"><i class="fa fa-calendar-o fa-fw hidden-lg hidden-md hidden-sm"></i> <span class="hidden-xs">Opinion</span></a></li>
					  <li><a href="#tab2" data-toggle="pill"><i class="fa fa-envelope-o fa-fw hidden-lg hidden-md hidden-sm"></i> <span class="hidden-xs">Messages</span> <div class="badge badge-messages">2</div></a></li>
					  <li><a href="#tab3" data-toggle="pill"><i class="fa fa-file-text-o fa-fw hidden-lg hidden-md hidden-sm"></i> <span class="hidden-xs">Medical Documents</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>


	<div class="container">
		<div class="tab-content">	
			
			
			<!-- Tab 1 >> -->
			<div id="tab1" class="tab-pane fade in active">
							
				<!-- Page Header >> -->
				<div class="row">
				    <div class="col-md-12">
						<section>
							<h2><%= firstName %>, we'll take it from here</h2>
							<p class="subtext">We'll start collecting your medical records immediately and will send you an email update within 24 hours</p>
						</section>
					</div>
				</div><!-- << Page Header -->

				<!-- Next Steps >> -->
				<section class="dashboard">
					<!-- Step 1 >> -->
					<div class="well well-opinions-step-inactive">
						<div class="row">
							<table>
								<tbody>
									<tr>
										<td class="col-md-1 col-xs-1">
											<span class="fa-stack fa-large ">
												<i class="fa fa-circle fa-inverse fa-2x fa-stack-2x"></i>
												<span class="icon-fixed-width fa-stack-1x char-overlay-grey"><i class="fa fa-check-circle"></i></span>
											</span>
										</td>
										<td class="col-md-1 hidden-xs">
											<img src="../assets/icon_opinion-step1-off.png" alt="icon_opinion-step1" />
										</td>
										<td class="col-md-7 col-xs-8">
											<p class="h3"><strike class="subtext">We're collecting and summarizing your medical records</strike></p>
										</td>
										<td class="col-md-1 col-xs-1">
											<small class="subtext">Approx.<br />7 days</small>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div><!-- << Step 1 -->

					<!-- Step 2 >> -->
					<div class="well well-opinions-step-inactive">
						<div class="row">
							<table>
								<tbody>
									<tr>
										<td class="col-md-1 col-xs-1">
											<span class="fa-stack fa-large ">
												<i class="fa fa-circle fa-inverse fa-2x fa-stack-2x"></i>
												<span class="icon-fixed-width fa-stack-1x char-overlay-grey"><i class="fa fa-check-circle"></i></span>
											</span>
										</td>
										<td class="col-md-1 hidden-xs">
											<img src="../assets/icon_opinion-step3-off.png" alt="icon_opinion-step2" />
										</td>
										<td class="col-md-7 col-xs-8">
											<p class="h3"><strike class="subtext">We'll select an expert physician specializing in your condition</strike></p>
										</td>
										<td class="col-md-1 col-xs-1">
											<small class="subtext">Approx.<br />24 hrs</small>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div><!-- << Step 2 -->

					<!-- Step 3 >> -->
					<div class="well well-opinions-step-inactive">
						<div class="row">
							<table>
								<tbody>
									<tr>
										<td class="col-md-1 col-xs-1">
											<span class="fa-stack fa-large ">
												<i class="fa fa-circle fa-inverse fa-2x fa-stack-2x"></i>
												<span class="icon-fixed-width fa-stack-1x char-overlay-grey"><i class="fa fa-check-circle"></i></span>
											</span>
										</td>
										<td class="col-md-1 hidden-xs">
											<img src="../assets/icon_opinion-step2-off.png" alt="icon_opinion-step2" />
										</td>
										<td class="col-md-7 col-xs-8">
											<p class="h3"><strike class="subtext">The expert physician reviews your medical history and answers your questions</strike></p>
										</td>
										<td class="col-md-1 col-xs-1">
											<small class="subtext">Approx.<br />3 days</small>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div><!-- << Step 3 -->

					<!-- Step 4 >> -->
					<div class="well well-opinions-step-active">
						<div class="row">
							<table>
								<tbody>
									<tr>
										<td class="col-md-1 col-xs-1">
											<span class="fa-stack fa-large ">
												<i class="fa fa-circle fa-inverse fa-2x fa-stack-2x"></i>
												<span class="icon-fixed-width fa-stack-1x char-overlay-grey">4</span>
											</span>
										</td>
										<td class="col-md-1 hidden-xs">
											<img src="../assets/icon_opinion-step4-on.png" alt="icon_opinion-step4" />
										</td>
										<td class="col-md-7 col-xs-8">
											<p class="h3">We'll deliver you the recommendations from the expert physician</p>
										</td>
										<td class="col-md-1 col-xs-1">
											<small class="subtext">Approx.<br />24 hrs</small>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div><!-- << Step 4 -->

				</section><!-- << Next Steps -->


				<!-- Advance to Opinion Ready >> -->
				<div class="row">
					<div class="col-md-12">
						<p class="small text-right"><a href="opinion-casedashboard-delivered.html">Advance to Opinion Ready</a></p>
					</div>
				</div>

				
			</div><!-- << Tab 1 -->
			
			<!-- Tab 2 >> -->
			<div id="tab2" class="tab-pane fade">
				<%- partial("partial/_teamandmessages-opinion") %>
			</div><!-- << Tab 2 -->
		    
		    <div id="tab3" class="tab-pane fade">
			    <%- partial("partial/_medicaldocuments-opinion-1") %>
		    </div>
		</div><!-- << Tab Content -->
	
	</div><!-- << Tabbable -->
</div><!-- << Page Container -->