<div class="container cc-progress-bar">
	<div class="row">
		<div class="col-xs-2 text-center"><i class="fa fa-circle"></i> <span class="hidden-xs hidden-sm">Getting Started</span></div>
		<div class="col-xs-2 text-center"><i class="fa fa-circle"></i> <span class="hidden-xs hidden-sm">Condition</span></div>
		<div class="col-xs-2 text-center"><i class="fa fa-circle"></i> <span class="hidden-xs hidden-sm">Questionnaire</span></div>
		<div class="col-xs-2 text-center cc-progress-bar-active"><i class="fa fa-circle-o"></i> <span class="hidden-xs hidden-sm">Records</span></div>
		<div class="col-xs-2 text-center"><i class="fa fa-circle-o"></i> <span class="hidden-xs hidden-sm">Records Release</span></div>
		<div class="col-xs-2 text-center"><i class="fa fa-circle-o"></i> <span class="hidden-xs hidden-sm">Local Physician</span></div>
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<section class="cc-section-header">
				<img src="../assets/icon_cc-04.png" alt="icon_cc-04" width="170" height="170" class="center-block hidden-xs" />
				<img src="../assets/icon_cc-04.png" alt="icon_cc-04" width="100" class="center-block hidden-lg hidden-md hidden-sm" />
				<h2 class="text-center">Tell us where to find your medical records</h2>
				<h4 class="text-center subtext">We’ll collect and send them to the Expert Physician.</h4>
			</section>
				
			<form>
				<section>
					<p class="h6">We'll start with these locations that your insurance provider has given us:</p>					
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 small subtext">
							<p>GEISINGER WYOMING VALLEY MEDICA<br />
							GEISINGER NE SPECIALISTS<br />
							GEISINGER MEDICAL CENTER<br />
							GASTROENTEROLOGY CONSULTANTS<br />
							RADIOLOGY ASSOCIATES OF WYOMING</p>						
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 small subtext">
							<p>GEISINGER RADIOLOGY NE<br />
							GWV SBC NE<br />
							ASSOCIATED OBGYN SPECIALISTS NE<br />
							WILKES BARRE GENERAL HOSPITAL<br />
							LEIGH VALLEY HOSPITAL</p>
						</div>
					</div>
					<p class="h6">Are there any that we're missing?</p>					
					<p><a href="#"><i class="fa fa-plus-circle"></i> Add location</a></p>
				</section>
				
				<section class="cc-continue">
					<hr />
					<p><a href="opinion-5.html" type="button" class="btn btn-primary btn-block btn-md">Continue</a></p>
				</section>
			</form>

		</div><!-- column -->
	</div><!-- << row -->
</div><!-- << Container -->