<div class="container cc-progress-bar">
	<div class="row">
		<div class="col-xs-2 text-center"><i class="fa fa-circle"></i> <span class="hidden-xs hidden-sm">Getting Started</span></div>
		<div class="col-xs-2 text-center"><i class="fa fa-circle"></i> <span class="hidden-xs hidden-sm">Condition</span></div>
		<div class="col-xs-2 text-center cc-progress-bar-active"><i class="fa fa-circle-o"></i> <span class="hidden-xs hidden-sm">Questionnaire</span></div>
		<div class="col-xs-2 text-center"><i class="fa fa-circle-o"></i> <span class="hidden-xs hidden-sm">Records</span></div>
		<div class="col-xs-2 text-center"><i class="fa fa-circle-o"></i> <span class="hidden-xs hidden-sm">Records Release</span></div>
		<div class="col-xs-2 text-center"><i class="fa fa-circle-o"></i> <span class="hidden-xs hidden-sm">Local Physician</span></div>
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<section class="cc-section-header">
				<img src="../assets/icon_cc-03-opinion.png" alt="icon_cc-03-opinion" width="170" height="170" class="center-block hidden-xs" />
				<img src="../assets/icon_cc-03-opinion.png" alt="icon_cc-02" width="100" class="center-block hidden-lg hidden-md hidden-sm" />
				<h2 class="text-center">What questions do you have about your condition?</h2>
				<h4 class="text-center subtext">We'll use this information to make sure you get the answers.</h4>
			</section>
				
			<form role="form">
				<section>
					<div class="form-group">
						<p class="h6">Please provide some background about your medical condition: your diagnosis, what doctors have told you, and any other details we should know.</p>					
						<textarea class="form-control noresize" rows="5" id="comment" placeholder="Background on medical condition"></textarea>
					</div>					
					<div class="form-group">
						<p class="h6">What concerns you most about this medical condition?</p>					
						<textarea class="form-control noresize" rows="5" id="comment" placeholder="Concerns"></textarea>
					</div>					
					<div class="form-group">
						<p class="h6">What questions would you like the Expert Physician to answer?</p>					
						<textarea class="form-control noresize" rows="5" id="comment" placeholder="Questions"></textarea>
					</div>					
					<div class="form-group">
						<p class="h6">How does this condition impact what you do for work or fun?</p>					
						<textarea class="form-control noresize" rows="5" id="comment" placeholder="Impact"></textarea>
					</div>					
					<div class="form-group">
						<p class="h6">What, if any, medications are you currently taking (including over-the-counter and vitamins)?</p>					
						<textarea class="form-control noresize" rows="5" id="comment" placeholder="Medications"></textarea>
					</div>					
					<div class="form-group">
						<p class="h6">Has anyone else in your family been diagnosed with a similar medical problem?</p>					
						<textarea class="form-control noresize" rows="5" id="comment" placeholder="Family medical history"></textarea>
					</div>					
					<div class="form-group">
						<p class="h6">Is there anything else you would like the Expert Physician to know?</p>					
						<textarea class="form-control noresize" rows="5" id="comment" placeholder="Anything else"></textarea>
					</div>					

					
				</section>
				
				<section class="cc-continue">
					<hr />
					<p><a href="opinion-4.html" type="button" class="btn btn-primary btn-block btn-md">Continue</a></p>
				</section>
			</form>

		</div><!-- column -->
	</div><!-- << row -->
</div><!-- << Container -->