<div class="container">
	
	<div class="row">
		<div class="col-md-12">
			<section>
				<h2>Grand Rounds STAT</h2>
				<p class="h4 subtext">Immediate expert help when you're in the hospital</p>
			</section>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<section>
				
				<div class="faq">
					<label class="label label-default">Step 1</label>
					<h4>Start a Case, STAT</h4>
					<p class="subtext">Call us when you, or a family member, is hospitalized and need prompt support.</p>
				</div>
				
				<div class="faq">
					<label class="label label-default">Step 2</label>
					<h4>Connect with a Grand Rounds Physician</h4>
					<p class="subtext">A dedicated physician will work with you to quickly assess your needs, consult with the country's top physicians, and provide resources and guidance based upon your unique circumstances.</p>
				</div>

				<div class="faq">
					<label class="label label-default">Step 3</label>
					<h4>Let Grand Rounds support you throughout your hospitalization</h4>
					<p class="subtext">As your situation evolves, a physician will be available to answer questions, to help you understand your choices and clarify the decisions to be made. You have access to the best expertise to achieve the best possible outcome.</p>
				</div>
				
			</section>
		</div>

		<div class="col-md-5 col-md-offset-1">
			<div class="well well-green text-center">
				<p class="h4">Need STAT Service?</p>
				<p class="lead">Call anytime at <strong>(800) 929-0926</strong></p>
				<a href="dashboard-welcome.ejs" class="subtext">Not right now, just looking</a>
			</div>
		</div>

	</div>
</div>