<!-- footer //
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="footer">
				<hr>
				Grand Rounds 2015
			</div>
		</div>
	</div>
</div>
-->


<!-- footer //-->
<hr />
<footer class="footer">
	<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-pills">
						<li><a href="#">© Grand Rounds Health 2013-2015</a></li>
						<li><a href="#">www.grandrounds.com</a></li>
						<li><a href="#">Our Specialists</a></li>
						<li><a href="#">Terms of Service</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
	</div>
</footer>
<hr />
<!-- \\ footer -->