<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
				<header>
					<p>
						<img src="../images/grlogo-white.png" width="217" height="41" alt="Grlogo White" class="center-block">
					</p>
				</header>
			<h4 class="text-center brand-white">Getting <b>YOU</b> an Expert Second Opinion</h4>
			<div class="wrapper">
				<section>
					<div class="media">
								  <div class="media-left">
								    <a href="#">
								      <img class="media-object" src="../images/icons/Document-Illustration.png" alt="...">
								    </a>
								  </div>
								  <div class="media-body">
								    Since this is your first second opinion with Grand Rounds we’ll need to collect a little information from you. The good news is that you’ll only have to enter most of the information one time.
								  </div>
								</div><!-- /media -->
					</section>
			<div class="form-group">
	  			<label for="medicalquestionnaireBackground">Please provide some background about your medical condition: Your diagnosis, what doctors have told you, any other details we should know.</label>
	  			<textarea name="medicalquestionnaireBackground" class="form-control" id="medicalquestionnaireBackground" rows="5" placeholder="Background on medical condition"></textarea>
	  		</div>

			<div class="form-group">
	  			<label for="medicalquestionnaireConcerns">What concerns you most about your medical condition?</label>
	  			<textarea name="medicalquestionnaireConcerns" class="form-control" id="medicalquestionnaireConcerns" rows="5" placeholder="Concerns"></textarea>
	  		</div>

			<div class="form-group">
	  			<label for="medicalquestionnaireQuestions">What questions would you like your expert physician to answer?</label>
	  			<textarea name="medicalquestionnaireQuestions" class="form-control" id="medicalquestionnaireQuestions" rows="5" placeholder="Questions"></textarea>
	  		</div>

			<div class="form-group">
	  			<label for="medicalquestionnaireMedications">What, if any, medications are you currently taking (including over-the-counter and vitamins)?</label>
	  			<textarea name="medicalquestionnaireMedications" class="form-control" id="medicalquestionnaireMedications" rows="2" placeholder="Medications"></textarea>
	  		</div>


			<div class="form-group">
	  			<label for="medicalquestionnaireMajorMedicalConditions">Please list any other major medical conditions or major surgeries you have had:</label>
	  			<textarea name="medicalquestionnaireMajorMedicalConditions" class="form-control" id="medicalquestionnaireMajorMedicalConditions" rows="2" placeholder="Medical conditions"></textarea>
	  		</div>

			<div class="form-group">
	  			<label for="medicalquestionnaireFamilyHistory">Has anyone else in your family been diagnosed with a similar medical problem (siblings, parents, grandparents)?</label>
	  			<textarea name="medicalquestionnaireFamilyHistory" class="form-control" id="medicalquestionnaireFamilyHistory" rows="2" placeholder="Family medical history"></textarea>
	  		</div>

			<div class="form-group">
	  			<label for="medicalquestionnaireAnythingElse">Is there anything else you would like the expert to know?</label>
	  			<textarea name="medicalquestionnaireAnythingElse" class="form-control" id="medicalquestionnaireAnythingElse" rows="2" placeholder="Anything else"></textarea>
	  		</div>
	
				<hr>
				<p>
					<a href="opinion-casedashboard.html" type="button" class="btn btn-primary btn-block btn-lg">Continue</a>
				</p>
				<p class="small text-right">
					Next Step: Start your Case
				</p>
			</div><!-- /wrapper -->
		</div>
	</div>
</div>