<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
      <div class="grcobrandnavbar" data-toggle="tooltip" data-placement="bottom" title="Tooltip on top"></div>
    <div class="navbar-header">
      <a href="dashboard-welcome.html" class="navbar-brand"><img src="../assets/logo-jh-header.png" height="32" alt="Grlogo White"></a>
    </div>
  </div>
</nav>
