<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <!-- Page Body Starts -->
	
	<div><h1>Medical Questionnaire</h1></div>
	
	<div class="row">
	  
		<div class="col-md-3">
			<h4>Getting an expert opinion from our panel of elite physicians is simple and easy.</h4>
			<h4>Getting started should only take a few minutes.</h4>
		</div>

	  
	  <div class="col-md-9">
	  		<h3>[User Name]'s Medical Questionnaire</h3>

			<div class="form-group">
	  			<label for="medicalquestionnaireBackground">Please provide some background about [name]'s medical condition: [name]'s diagnosis, what doctors have told [name], any other details we should know.</label>
	  			<textarea name="medicalquestionnaireBackground" class="form-control" id="medicalquestionnaireBackground" rows="5" placeholder="Background on medical condition"></textarea>
	  		</div>

			<div class="form-group">
	  			<label for="medicalquestionnaireConcerns">What concerns you most about [name]'s medical condition?</label>
	  			<textarea name="medicalquestionnaireConcerns" class="form-control" id="medicalquestionnaireConcerns" rows="5" placeholder="Concerns"></textarea>
	  		</div>

			<div class="form-group">
	  			<label for="medicalquestionnaireQuestions">What questions would you like [name]'s expert physician to answer?</label>
	  			<textarea name="medicalquestionnaireQuestions" class="form-control" id="medicalquestionnaireQuestions" rows="5" placeholder="Questions"></textarea>
	  		</div>
	  		
	  		<div class="form-group">
		  		<label for="medicalquestionnaireBorn">Was [name] born</label>
		  		<div class="controls">
					<select class="form-control" name="medicalquestionnaireBorn">
						<option value="">Select</option>
						<option value="1">On/Near their due date</option>
						<option value="2">More than 3 weeks before their due date</option>
						<option value="3">Unsure</option>
				</div>
		  	</div>
			
			<div class="form-group">
				<label for="medicalquestionnaireDevelopment">How would you describe [name]'s level of development (check all that apply)</label>
				<div class="checkbox">
					<label><input type="checkbox" value="">Meets ALL development milestones</label>
				</div>
				<div class="checkbox">
				  	<label><input type="checkbox" value="">Delayed motor development</label>
				</div>
				<div class="checkbox">
				  	<label><input type="checkbox" value="">Delayed language development</label>
				</div>
				<div class="checkbox">
				  	<label><input type="checkbox" value="">Delayed social development</label>
				</div>
				<div class="checkbox">
				  	<label><input type="checkbox" value="">I am unsure about how my child is doing developmentally</label>
				</div>
			</div>
			
	  		<div class="form-group">
		  		<label for="medicalquestionnaireImmunizations">Has [name] received all of [his/her] recommended immunizations?</label>
		  		<div class="controls">
					<select class="form-control" name="medicalquestionnaireImmunizations">
						<option value="">Select</option>
						<option value="1">Yes</option>
						<option value="2">No</option>
						<option value="3">Unsure</option>
				</div>
		  	</div>


			<div class="form-group">
	  			<label for="medicalquestionnaireMedications">What, if any, medications is [name] currently taking (including over-the-counter and vitamins)?</label>
	  			<textarea name="medicalquestionnaireMedications" class="form-control" id="medicalquestionnaireMedications" rows="2" placeholder="Medications"></textarea>
	  		</div>


			<div class="form-group">
	  			<label for="medicalquestionnaireMajorMedicalConditions">Please list any other major medical conditions or major surgeries [name] has had:</label>
	  			<textarea name="medicalquestionnaireMajorMedicalConditions" class="form-control" id="medicalquestionnaireMajorMedicalConditions" rows="2" placeholder="Medical conditions"></textarea>
	  		</div>

			<div class="form-group">
	  			<label for="medicalquestionnaireFamilyHistory">Has anyone else in [name]'s family been diagnosed with a similar medical problem (siblings, parents, grandparents)?</label>
	  			<textarea name="medicalquestionnaireFamilyHistory" class="form-control" id="medicalquestionnaireFamilyHistory" rows="2" placeholder="Family medical history"></textarea>
	  		</div>

			<div class="form-group">
	  			<label for="medicalquestionnaireAnythingElse">Is there anything else you would like the expert to know?</label>
	  			<textarea name="medicalquestionnaireAnythingElse" class="form-control" id="medicalquestionnaireAnythingElse" rows="2" placeholder="Anything else"></textarea>
	  		</div>
	
			<p><a href="opinion-9" type="button" class="btn btn-primary">Submit</a></p>

			</div>

	  </div>
	  
	</div>
	
	<!-- Page Body Ends -->
    </div>
  </div>
</div>