<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Opinion 13 - Dashboard</h1>
      	<p>Opinion Delivered.</p>
      	<p><a href="opinion-14" type="button" class="btn btn-primary">Next</a></p>

    </div>
  </div>
</div>