<div class="container">
  <div class="row">
	  <div class="col-md-8 col-md-offset-2">
			<h3 class="page-header">Grand Rounds Visits: <small>An in-office appointment with a top local doctor.</small></h3>
			<p>If you're ready, you can <a href="#">START A CASE</a> right away.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<ul class="visit-steps">
				<li class="visit-step1">
					<div class="label label-default">Step 1</div>
					<h4>Start a case</h4>
					<p>Tell us a little about yourself and your health. It's fast.</p>
				</li>
				<li class="visit-step2">
					<div class="label label-default">Step 2</div>
					<h4>We select the leading physicians for you</h4>
					<p>Using a multi-point algorithm to assess physicians' quality of care, we match you in about 24 hours with the two in-network physicians who are best suited to your needs. You select the physician you'd like to see.</p>
				</li>
				<li class="visit-step3">
					<div class="label label-default">Step 3</div>
					<h4>We book your appointment and gather your medical records</h4>
					<p>We handle all the administrative activities so you can focus on more important things, like your health.</p>
				</li>
				<li class="visit-step4">
					<div class="label label-default">Step 4</div>
					<h4>We monitor your care</h4>
					<p>Following your appointment, we'll follow up with your physician to ensure you're getting great care.</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="well col-md-8 col-md-offset-2">
			<h3>Ready to start a case?</h3>
			<p><a href="visit-2" type="button" class="btn btn-primary btn-block btn-lg">Yes, let's go</a></p>
			<p><a href="dashboard-1" type="button" class="btn btn-default btn-block">Not right now, just looking</a></p>
		</div>
	</div>
	
</div>