<!-- footer //-->
<hr />
<footer class="footer">
	<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="list-inline pull-left footer-gr">
						<li>© Grand Rounds Health 2013-2015</li>
					</ul>
					<ul class="list-inline pull-right footer-gr">
						<li><a href="#" class="subtext">Terms of Service</a></li>
						<li><a href="#" class="subtext">Privacy Policy</a></li>
						<li>Need Help? (800) 929-0926</li>
					</ul>
				</div>
			</div>
	</div>
</footer>
<hr />
<!-- \\ footer -->