<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="dashboard-welcome.html" class="navbar-brand"><img src="../images/grlogo-white.png" height="32" alt="Grlogo White"></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle"><img src="../assets/logo-white.png" height="32" ></a></li>
				 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					 <span class="fa-stack ">
						 <i class="fa fa-comment fa-2x fa-stack-2x"></i>
					 	<span class="icon-fixed-width icon-light fa-stack-1x char-overlay">1</span>
					</span>
					 </a>
         <ul class="dropdown-menu" role="menu">
           <li><a href="profile.html"><b>No New Messages</b><br /><small>Messages from your Grand Rounds team will show up here</small></a></li>
           <li class="divider"></li>
           <li><a href="#">Message Center</a></li>
				 </ul>
				 </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src= <%= gravatarImage %>  class="avatar"/> <%= firstName %> <%= lastName %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="profile.html"><b>Account Settings</b> <span class="label label-info">New</span><br /><small>Edit your password, email, sharing permissions, and insurance coverage</small></a></li>
            <li><a href="#"><b>Family Settings</b><br /><small>Manage your entire extended family and their Grand Rounds benefits</small></a></li>
            <li><a href="#"><b>Team Sharing</b><br /><small>Choose who gets to see what and when</small></a></li>
						<li><a href="style-guide.html"><b>Style Guide</b> <span class="label label-danger">Remove</span><br /><small>Sample page off all the styles that are being built</small></a></li>
												<li><a href="sitemap.html"><b>Sitemap</b> <span class="label label-danger">Remove</span><br /><small>All the pages</small></a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>