<div class="row">
	<!-- Documents >> -->	
	<div class="col-md-12">
		<h3>Medical Documents</h3>
		
		<table class="table table-lg table-responsive table-hover table-documents">
			<tbody>
				<tr>
					<td class="col-md-10"><i class="fa fa-file-pdf-o"></i> &nbsp; <a href="../../assets/file_opinion-example.pdf" target="_blank">Expert Opinion - Knee Pain</a> <div class="label label-warning bounceIn">NEW</div></td>
					<td class="col-md-2 subtext"><script>var d = new Date(+new Date + 12096e5); document.write(d.toDateString());</script></td> 
				</tr>
				<tr>
					<td class="col-md-10"><i class="fa fa-file-text-o"></i> &nbsp; <a href="#">Indexed Medical Records</a></td>
					<td class="col-md-2 subtext"><script>var d = new Date(+new Date + 12096e5); document.write(d.toDateString());</script></td> 
				</tr>
				<tr>
					<td class="col-md-10"><i class="fa fa-file-text-o"></i> &nbsp; <a href="#">Medical Information Form</a></td>
					<td class="col-md-2 subtext"><script>var d = new Date(+new Date + 12096e5); document.write(d.toDateString());</script></td> 
				</tr>
				<tr>
					<td class="col-md-10"><i class="fa fa-file-text-o"></i> &nbsp; <a href="#">Records Release Form</a></td>
					<td class="col-md-2 subtext"><script>var d = new Date(+new Date + 12096e5); document.write(d.toDateString());</script></td> 
				</tr>
			</tbody>	
		</table>

		
	</div><!-- << Documents -->

</div>