<div class="row">
	<!-- Documents >> -->	
	<div class="col-md-12">
		<h3>Case Documents &amp; Images</h3>
		
		<table class="table table-lg table-responsive table-hover">
			<tbody>
				<tr>
					<td class="col-md-10"><a href="../../assets/file_opinion-example.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> &nbsp;Expert Opinion - Knee Pain</a> <div class="label label-primary bounceIn">NEW</div></td>
					<td class="col-md-2"><script>var d = new Date(+new Date + 12096e5); document.write(d.toDateString());</script></td> 
				</tr>
				<tr>
					<td class="col-md-10"><a href="#"><i class="fa fa-file-text-o"></i> &nbsp;Indexed Medical Records</a></td>
					<td class="col-md-2"><script>var d = new Date(+new Date + 12096e5); document.write(d.toDateString());</script></td> 
				</tr>
				<tr>
					<td class="col-md-10"><a href="#"><i class="fa fa-file-text-o"></i> &nbsp;Medical Information Form</a></td>
					<td class="col-md-2"><script>var d = new Date(+new Date + 12096e5); document.write(d.toDateString());</script></td> 
				</tr>
				<tr>
					<td class="col-md-10"><a href="#"><i class="fa fa-file-text-o"></i> &nbsp;Records Release Form</a></td>
					<td class="col-md-2"><script>var d = new Date(+new Date + 12096e5); document.write(d.toDateString());</script></td> 
				</tr>
			</tbody>	
		</table>

		
	</div><!-- << Documents -->

</div>