<div class="row">
	<!-- GR Team >> -->
	<div class="col-md-4 well well-team">
		<h4>Grand Rounds Team</h4>
		
		<div class="media">
			<div class="media-left">
				<a href="#"><img src="../assets/img_cc-percy.jpg" alt="img_cc-percy" width="64" class="media-object avatar"/></a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Steve Stevenson</h4>
				<small class="subtext">Care Coordinator</small>
				<p class="small">Your Care Coordinator is a trained professional that is here to understand your condition, preferences and concerns, and take care of the logistics to save you time.</p>
			</div>
		</div>
		
		<div class="media">
			<div class="media-left">
				<a href="#"><img class="media-object avatar" src="../images/GR_Leadership__0007_8.-Shaundra-Eichstadt.jpg" width="64" alt="Icon User Patient"></a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Dr. Shaundra Eichstadt</h4>
				<small class="subtext">Staff Physician</small>
				<p class="small">Your Staff Physician is a licensed physician that helps select an excellent doctor that is a great fit for your needs.</p>
			</div>
		</div>

		<div>
			<hr />
			<a href="#"> <i class="fa fa-plus-circle"></i> ADD A TEAM MEMBER</a>
			<br />
			<span class="small subtext">
				Invite a family member or caregiver to your team, but keep in mind that they will have access to your case history, medical records, and team messages.
			</span>
		</div>
	
	</div><!-- << GR Team -->
	
	
	<!-- Messages Column >> -->
	<div class="col-md-7 col-md-offset-1">
		<h3>Messages</h3>
		
		<!-- Create New Message >> -->
		<div class="row">
			<form role="form">
				<div class="col-md-1 col-sm-1 hidden-xs">
					<img class="avatar" src="../assets/icon-user-patient.png" width="32" alt="Icon User Patient">
				</div>
				<div class="col-md-8 col-sm-8">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" aria-descibedby="basic-addon2" placeholder="New message...">
							<span class="input-group-addon" id="basic-addon2"><a href="#"><i class="fa fa-paperclip"></i></a></span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
						<a href="#" class="btn btn-primary btn-sm btn-block">SUBMIT</a>
					</div>
				</div>
			</form>
		</div><!-- << Create New Message -->

		<!-- Messages Received >> -->
		<div class="media">
			<div class="media-left">
			    <img class="media-object avatar" src="../assets/img_cc-percy.jpg" width="32" alt="Icon User Patient">
			</div>

			<div class="media-body">
			    <h4 class="media-heading">Hello, <%= firstName %>!</h4>
			   	<p>Your appointment with Dr. <%= drLName %> has been scheduled. If for any reason you cannot make this time or need to reschedule, please let me know. Also, for your visit, make sure to bring a valid photo ID (license, passport) and your insurance card. Thank you again for trusting Grand Rounds with your care.</p>
				<p>Best regards,<br />
				Steve Stevenson</p>
				<span class="small subtext">Monday March 23rd, 2015</span> 
			</div>
		</div>


		<div class="media">
			<div class="media-left">
			    <img class="media-object avatar" src="../images/GR_Leadership__0007_8.-Shaundra-Eichstadt.jpg" width="32" alt="Icon User Patient">
			</div>

			<div class="media-body">
			    <h4 class="media-heading">Good morning, <%= firstName %>!</h4>
			   	<p>This is Dr. Eichstadt your Grand Rounds Staff Physician. I am sorry you’ve been having these symptoms. I am available to talk if you have any questions, at your convenience. I know Erin Moore has already been working hard to find you a great physician.</p>
				<p>Best to you,<br />
				Dr. Shaundra Eichstadt</p>
				<span class="small subtext">Monday March 23rd, 2015</span> 
			</div>
		</div>


		<div class="media">
			<div class="media-left">
			    <img class="media-object" src="../assets/icon-user-cc.png" width="32" alt="Icon User Patient">
			</div>

			<div class="media-body">
			    <h4 class="media-heading">Welcome to Grand Rounds, <%= firstName %>!</h4>
			   	<p>Thanks for starting your Office Visit. We'll take it from here. We'll start by selecting a top-quality local physician that fits your needs. Then we'll schedule an appointment for you based on the availability that you've provided. Finally, we'll help you prepare so you can get the most out of your visit.</p>
			   	<p>Your Care Coordinator and Staff Physician will be joining soon. They'll keep you updated throughout the process and will answer any questions you may have. Feel free to contact them through this secure message center at any time.</p>
				<p>Best,<br />
				Your Grand Rounds Team</p>
				<span class="small subtext">Monday March 23rd, 2015</span> 
			</div>
		</div>
		
	</div><!-- << Messages Column -->

</div><!-- << Row -->